body{
    background-color: #181818;
}
#WARNING-BOT
{

position: absolute;
width: 641px;
height: 376px;
left: 350px;
bottom: 350px;

font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 167px;

color: #E4ABFF;

} 
#elina22-removebg-pre
{
    position: absolute;
width: 189px;
height: 204px;
left: 100px;
top: 10px;

background: url(elina22-removebg-preview-removebg-preview.png);
}

#Enter-the-message
{
    
position: absolute;
width: 884px;
height: 61px;
left: 117px;
top: 299px;

font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}

#rectangle-3
{
    position: absolute;
width: 780px;
height: 69px;
left: 117px;
top: 356px;

background: #FFFFFF;
border-radius: 40px;

font-size: 28px;
font-family:Helvetica;
}

#rectangle-5{
    position: absolute;
width: 156px;
height: 52px;
left: 117px;
top: 450px;

background: rgba(0, 255, 71, 0.59);
border-radius: 20px;
}

#button
{
    background-color: #181818;
}
#submit
{
    position: absolute;
width: 129px;
height: 42px;
left: 140px;
top: 458px;

font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
/* identical to box height */


color: #FFFFFF;

}

#warning-bot-response
{
    position: absolute;
width: 884px;
height: 61px;
left: 117px;
top: 550px;

font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;


}
#rectangle-4
{
    position: absolute;
    width: 515px;
    height: 69px;
    left: 117px;
    top: 600px;
    
    background: #FFFFFF;
    border-radius: 20px;
    
    text-align: center;
    font-size: 50px;
font-family: monospace ;
vertical-align: middle;
}
#chat-bot
{
    position: absolute;
    width: 284px;
    height: 294px;
    left: 900px;
    top: 100px;

background: url(Chat-bot-pana-1.png);
}